<h1>Make a new lecture</h1>

<div>
<%= bootstrap_form_for [@teacher, @lecture], url:  teacher_lectures_path do |f| %>
  
  <%= f.text_field :topic %><br />

  <%= f.date_select :time %><br />  

  <%= f.text_field :hangoutId %><br />

  <%= f.text_field :studentAmount %><br />

  <%= f.submit %>


<% end %>
</div>

<%= link_to "<button>Go back to your profile</button>".html_safe, user_session_path, :id => "button_id", :class => "button_class" %>

