<div class="container">
  <div class="page-header">
    <h1>Sign up</h1>
  </div>
  <p class="lead">Sign up and get ready to learn English with our team.</p>
</div>







<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <div class="field">
    <%= f.label :"Are you a teacher or a student?" %><br />
    <%= f.radio_button :type, 'Teacher', :checked => true %> 
    <%= label :type_teacher, 'Teacher' %>
    <%= f.radio_button :type, 'Student' %>
    <%= label :type_student, 'Student' %> 
  </div>

  <div class="field">
    <%= f.label :first_name %><br />
    <%= f.text_field :first_name, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :second_name %><br />
    <%= f.text_field :second_name, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :qualifications %><br />
    <%= f.text_field :qualifications, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :english_level %><br />
    <%= f.text_field :english_level, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :location %><br />
    <%= f.text_field :location, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :age %><br />
    <%= f.text_field :age, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :nationality %><br />
    <%= f.text_field :nationality, autofocus: true %>
  </div>


  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :password %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "off" %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off" %>
  </div>
<br>
  <div class="actions">
    <%= f.submit :class => 'btn btn-primary' %>
  </div>
<% end %>

        <%= link_to "Go back to home page", home_path %><br>

<%= render "devise/shared/links" %>


<body style="background-color:#18bc9c; text-align: center; position: center;">

