<head>

        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="">

        <title>Profile page</title>

        <!-- Bootstrap Core CSS -->
        <link href="css/bootstrap.min.css" rel="stylesheet">

        <!-- Custom CSS -->
        <link href="css/simple-sidebar.css" rel="stylesheet">

        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
            <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
            <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->

</head>

<body>

    <div id="wrapper">

        <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <li class="sidebar-brand">
                    <a href="#">
                        <%= @user.first_name %>  <%= @user.second_name %> 
                    </a>
                </li>
                
                <li>
                    <%= link_to 'Search classes', index_path %>
                </li>

                <li>
                    <%= link_to 'Logout', destroy_user_session_path, method: 'DELETE' %>
                </li>

            </ul>
        </div>
        <!-- /#sidebar-wrapper -->

        <!-- Page Content -->
        <div id="page-content-wrapper">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
                        <p>Welcome <%= @user.first_name %>,</p>
                        <p><em>This is your profile page. Here you can search for classes and register for classes. You can delete a class from your page by pressing the unregister button. Hope you enjoy using the site.</em></p>
                        <a href="#menu-toggle" class="btn btn-primary" id="menu-toggle">Current time</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- /#page-content-wrapper -->

    </div>
    <!-- /#wrapper -->

    <!-- jQuery -->
    <script src="js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>

    <!-- Menu Toggle Script -->
    <script>
    $("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#wrapper").toggleClass("toggled");
    });
    </script>



       
        <div><strong>
                 The current UTC date is <%= Time.now.strftime("%m/%d/%Y") %> 
                 <br>
                 The current UTC time: <%= timepiece( type: '12', abbr_sep: '.') %> 
                <br>
                The time in Riyadh: <%= timepiece('Riyadh', type: '12', abbr_sep: '.') %>
                <br>
        </strong></div>

        
        <div align="center">
                    <p> Your next lecture will be held at: ruby brackers!!  @lecture_next.time <br>
                    You can enter the class by clicking this link  link_to Hangout, @lecture_next.hangoutId  </p> <br>
        <h4>View Your Lectures:</h4>
        </div>
         
        <div class="teacher_table1">
          <div class="teacher_table2">
           <div class="teacher_table3">
            
            <table id="Tit" class='table table-bordered'>
              <thead>    
                <tr>
                <th>Class</th>
                <th>Date/Time</th>
                <th>Link</th>     
                <th>Deregister</th>  
                 
                  
                </tr>
              </thead>
             

             <tbody>
              <% @lectures.each do |lecture| %>
                  <tr>
                    <td><%= lecture.topic %></td>
                    <td><%= lecture.time %></td>
                    <td><%= link_to "Enter this lecture", lecture.hangoutId %> </td>         
                    <td><%= button_to "Deregister Class", :method => :remove, :lecture_id => lecture.id %>
                    </td>               
                  </tr>
              <% end %>
              
              </tbody>
            </table>


           </div>
          </div>
        </div>
</body>
</html>
