Welcome <%= @user.first_name %> <br>
You are in <%= @user.location %>




<% if user_signed_in? %>
 	<h2>Welcome <%= @user.first_name %>!</h2>
	 <%= link_to 'Logout', destroy_user_session_path, method: 'DELETE' %>

<% else %>
  	<h2>Nobody logged in</h2>
<% end %>

<p>Add a lecture for your students here</p>



<%= link_to "<button>Create a new lecture</button>".html_safe, new_teacher_lecture_path(@user), :id => "button_id", :class => "button_class" %>


 
<div class="teacher_table1">
  <div class="teacher_table2">
   <div class="teacher_table3">
    
    <table id="Tit" class='table table-bordered'>
      <thead>    
        <tr>
        <th>Class</th>
        <th>Time</th>
        <th>Hangout</th>     
        <th>Delete</th>  
        <th>Edit</th>  
          
        </tr>
      </thead>
     

     <tbody>
      <% @lectures.each do |lecture| %>
          <tr>
            <td><%= lecture.topic %></td>
            <td><%= lecture.time %></td>
            <td><%= link_to lecture.hangoutId, lecture.hangoutId %> </td>
            <td> <%= link_to "Delete", :method => :destroy%></td>         
            <td> <%= link_to "Edit", :method => :edit%></td>                  
          </tr>
      <% end %>
      
      </tbody>
    </table>


   </div>
  </div>
</div>
