Welcome <%= @user.first_name %> <br>
You are in <%= @user.location %>




<% if user_signed_in? %>
 	<h2>Welcome <%= @user.first_name %>!</h2>
	 <%= link_to 'Logout', destroy_user_session_path, method: 'DELETE' %>

<% else %>
  	<h2>Nobody logged in</h2>
<% end %>



     <form action="https://plus.google.com/hangouts/_" method = "GET">
    <!-- Add the form fields for Name, Occupation, and Weapon -->
       <input type="hidden" name="gid" value="1295"/>
       <select name = "gd">
         <option>Hangouts</option>
       </select>

      <input type="submit"/>



<br>
<p>Add a lecture for your students here</p>



<%= link_to "<button>Create a new lecture</button>".html_safe, new_teacher_lecture_path(@user), :id => "button_id", :class => "button_class" %>

<table class="table">
	<% @lectures.each do |lecture| %>
    <thead>
	    <tr>
	      <th>Class title: <%= lecture.topic %><td></th>
	      <th>Your class is on: <%= lecture.time %><td></th>
	      <th>Hangout Link: <%= link_to lecture.hangoutId %><td></th>
	    </tr>
    </thead>
<% end %>
